import(stats)
importFrom(clue,solve_LSAP)
importFrom(graphics,pairs, plot)

export(JADE, rjd, SIR, ComonGAP, amari.error, MD, AMUSE, bss.components, cjd, djd, multscatter, SOBI, NSS.SD, NSS.JD, NSS.TD.JD,k_JADE,frjd,rjd.fortran,FOBI,FG)
S3method(print,bss)
S3method(coef,bss)
S3method(plot,bss)
S3method(AMUSE,default)
S3method(AMUSE,ts)
S3method(SOBI,default)
S3method(SOBI,ts)
S3method(NSS.SD,default)
S3method(NSS.SD,ts)
S3method(NSS.JD,default)
S3method(NSS.JD,ts)
S3method(NSS.TD.JD,default)
S3method(NSS.TD.JD,ts)

useDynLib(JADE)
